# Anchor Platform secrets
SECRET_SEP10_SIGNING_SEED=

# Reference server secrets
APP__PAYMENT_SIGNING_SEED=

# Wallet server secrets
SECRET__KEY=

# Test secrets
TEST_CLIENT_WALLET_SECRET=
TEST_CLIENT_SMART_WALLET_ACCOUNT=
TEST_CLIENT_WALLET_EXTRA_SIGNER_1_SECRET=
TEST_CLIENT_WALLET_EXTRA_SIGNER_2_SECRET=

TEST_WITHDRAW_FUND_CLIENT_SECRET_1=
TEST_WITHDRAW_FUND_CLIENT_SECRET_2=
TEST_DEPOSIT_FUND_CLIENT_SECRET_1=
TEST_DEPOSIT_FUND_CLIENT_SECRET_2=

# Used as a test payment destination with Circle USDC trustline
OTHER_SEP10_SIGNING_SECRET=

# USDC issuer
USDC_ISSUER_SECRET=

# SRT issuer
SRT_ISSUER_SECRET=

# Test Anchor accounts
TESTANCHOR_DISTRIBUTION_SECRET=
TESTANCHOR_RECEIVE_SECRET=
