name: On Pull Request Workflow

on:
  pull_request:

jobs:
  gradle_build:
    uses: ./.github/workflows/sub_gradle_build.yml

  rust_build:
    uses: ./.github/workflows/sub_rust_build.yml

  essential_tests:
    needs: [ gradle_build ]
    uses: ./.github/workflows/sub_essential_tests.yml

  extended_tests:
    needs: [ gradle_build, essential_tests ]
    uses: ./.github/workflows/sub_extended_tests.yml

  codeql_analysis:
    uses: ./.github/workflows/sub_codeql_analysis.yml

  complete:
    if: always()
    needs: [ gradle_build, essential_tests, extended_tests, rust_build, codeql_analysis ]
    runs-on: ubuntu-22.04
    steps:
      - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1
